* {
    margin:none;
}
body {
    background-color:white;
}
.alertbox {
    width:80%;
    background-color:grey;
    color:white;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    margin:auto;
}
.usernameInput {

}
.step1 {
    display:none;
}
.step2 {
    display:none;
}
.step3 {
    display:none;
}
.step4 {
    display:none;
}
.alertbox {
    display:none;
}
.loading {
    display:none;
}
